body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  height: 100vh; /* pura screen height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center; /* horizontal center */
}

header {
  text-align: center;
  color: #333;
  margin: 0 0 20px 0;  
  font-size: 28px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}

li:nth-child(odd) {
  background-color: #f9f9f9;
}
